<div data-controller="map" style="margin-top: 1rem;">
  <div data-map-target="container" style="width: 100%;"></div>
  <script type="application/json" data-map-target="dataset">
    {"region_name": "<%= j @region_label %>", "region_code": "<%= j @region %>", "width": "container", "height": 360}
  </script>
</div>
